---
title: Drew's 11ty Demo
layout: layouts/home.njk
description: This is a demo of Google x Cramforce's 11ty blog template.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  See my blog posts below!
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>